<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PickTimeTogether</title>
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/build/bundle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>